@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@500;900&display=swap');
/* setting */

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
img {
  max-width: 100%;
}
:root {
  --light: #F9FAFC;
  --yellow: #FED233;
  --black: #333333;
  --grey: #828282;
  --grey-light: #bdbdbd;
  --dark: #141414;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.hero {
  position: relative;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 100vh;
 
}
.hero::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  
}
.hero::before {
  position: absolute;
  content: "";
  left: 49.2%;
  bottom: 6%;
  width: 21px;
  height: 30px;
  background: url(../images/mouse.svg);
  z-index: 5;
}
.header {
  position: relative;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  z-index: 5;
}
.logo-text {
  color: #fff;
  font-size: 26px;
  letter-spacing: 0.2rem;
}
.logo-text span{

  color: var(--yellow);
}
.fa-bars {
  display: none;
  color: rgb(255, 255, 255);
}
.nav_link {
  position: relative;
  font-size: 14px;
  line-height: 44px;
  margin: 0 38px;
  letter-spacing: 0.12rem;
  transition: all 0.5s ease;
  padding: 5px 0;
}
.nav_link::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease-in;
  background-color: #636363;
}
.nav_link:hover {
  color: #636363;
}
.nav_link:hover::before {
  width: 100%;
}
.nav_link:first-child {
  margin-left: 0;
  
}
.nav_link:last-child {
  margin-right: 0;
  
}
.line {
  position: relative;
  width: 95%;
  margin: 0 auto 160px;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 5;

}

.content {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
  color: #fff;
  letter-spacing: 0.3rem;
}
.description {
  max-width: 522px;
  line-height: 34px;
  letter-spacing: 0.1rem;
  color: var(--black);
}
.content_text {
  max-width: 580px;
}
.content_title {
  position: relative;
  margin-bottom: 43px;

}
.content_title::before {
  position: absolute;
  content: '';
  width: 133px;
  height: 2px;
  background-color: var(--yellow);
  left: 0;
  bottom: -20px;
}

.content_desc {
  line-height: 26px;
  margin-bottom: 46px;
  color: #fff;
}
.content_logo {
  padding-top: 15px;
}
.button {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 20px 108px 20px 25px;
  border: none;
  border-radius: 7px;
  background-color: var(--yellow);
  transition: all 0.5s linear;
}
.button:hover {
  background-color: #6d5604;
  cursor: pointer;
}
.button::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 10px;
  background-image: url(../images/arrow-black.svg);
  top: 23px;
  right: 23px;
  
}

/* services */
.services {
  padding: 135px 0;
}
.services_title {
  color: var(--black);
  margin-bottom: 15px;
}
.services_desc {
  margin-bottom: 97px;

}
.services_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  column-gap: 35px;
  row-gap: 35px;
}
.services_item {
  padding: 45px 22px 23px;
  min-height: 290px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  transition: all 0.05s linear;
  cursor: pointer;
}
.services_item:hover {
  border: 2px solid var(--yellow);
}
.services_item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}

.services_item:first-of-type .services_item-description img{
  margin-bottom: 40px;
}
.services_item-description img {
  margin-bottom: 26px;
}
.services_item-description p {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  text-align: center;
}
.services_excerpt {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  color: var(--grey-light);
  font-size: 14px;
}

/* about */

.about {
  background-color: var(--light);
  padding: 98px 0 108px;
}

.about_title {
  color: var(--black);
  margin-bottom: 10px;
}
.about_desc {
  margin-bottom: 60px;
  max-width: 800px;
  line-height: 29px;
}
.statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  column-gap: 65px;
}

.statistics_title {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1rem;
  font-size: 32px;
  line-height: 60px;
  font-weight: 900;
  color: var(--yellow);
  border-bottom: 2px solid #BDBDBD;
}
.statistics_subtitle {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  line-height: 34px;
  color: var(--grey);
  max-width: 210px;
}

/* form */

.form {
  position: relative;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding: 110px 0;
}

.form::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.form_title {
  margin-bottom: 44px;
}
.form_input {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 14px;
  padding: 21px 0 21px 25px;
  max-width: 460px;
  margin-bottom: 21px;
  border: none;
  border-radius: 7px;
  outline: none;
}
.form_input::placeholder {
  color: var(--black);
}
label {
  position: relative;
  color: #fff;
  margin-bottom: 55px;
  font-size: 14px;
  padding-left: 21px;
}
label::after {
  position: absolute;
  content: '';
  width: 11px;
  height: 11px;
  top: 0;
  left: 0px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}
input:checked + label:after {
  content: "";
  background-color: rgb(77, 138, 252);
}
.form_checkbox {
  display: none;
  
}
.button_form {
  display: block;
  max-width: 266px;
  padding: 20px 133px 20px 0;
}

/* technology */

.technology {
  padding: 118px 0 124px;
}
.technology_title {
  color: var(--black);
  margin-bottom: 14px;
}
.technology_desc {
  margin-bottom: 87px;
}

.technology_statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  row-gap: 55px;
}

/* footer */

.footer {
  padding: 84px 0 34px;
  background-color: var(--dark);
}
.footer_inner {
  position: relative;
}

.footer_inner::before {
  position: absolute;
  content: '';
  width: 133px;
  height: 2px;
  background-color: var(--yellow);
  left: 0;
  top: 0;
}
.footer_title {
  padding-top: 35px;
  margin-bottom: 32px;
}
.footer_title::after {
  display: inline-block;
  content: '';
  margin-left: 10px;
  vertical-align: middle;
  width: 76px;
  height: 47px;
  background-image: url(../images/hand-shake.svg);
  background-size: cover;
  background-repeat: no-repeat;

}
.footer_button {
  margin-bottom: 39px;
}
.footer_link-email {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1rem;

}
.footer_link-tel {
  display: block;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25rem;

}
.footer_line {
  margin-bottom: 32px;
}
.footer_copyright {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15rem;

}
.footer_copyright a {
  border-bottom: 1px solid rgb(105, 104, 104);
}


@media screen and (max-width: 740px) and (max-height: 600px) { 
  .hero {
    height: 100%;
  }
  .hero::after {
    height: 100%;
  }
  .hero::before {
    display: none;
  }
  .content_btn {
    margin-bottom: 40px;
  }
}
@media screen and (max-height: 736px) {
  .hero .line {
    margin: 0 auto 60px;
  }
  .hero::before {
    bottom: 2%;
  }
}
@media screen and (min-width: 750px) and (min-height: 600px) { 
  .hero .line {
    margin: 0 auto 160px;
  }
}
@media screen and (max-width: 652px ) {

  .nav_link {
    margin: 0 12px;
    
  }
  .logo-text {
    font-size: 20px;
  }
  .title{
    font-size: 27px;
  }
  .services {
    padding: 65px 0;
  }
  .about {
    padding: 65px 0 75px;
  }
  .form {
    padding: 65px 0;
  }
  .technology {
    padding: 65px 0;
  }
}
@media screen and (min-width: 700px) and (max-height: 515px) {
  .hero {
    height: 100vh;
  }
  .hero::after {
    height: 100vh;
  }
  .hero::before {
    position: absolute;
  }
}
@media screen  and (max-height: 500px) {
  .hero {
    height: 100%;
  }
  .hero::after {
    height: 100%;
  }
  .hero::before {
    display: none;
  }
  .content_btn {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 476px ) {

  .title {
    font-size: 22px;
    line-height: 42px;
  }
  .content_logo {
    display: none;
}
  .navigation {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: 25px;
  }
  .fa-bars:hover {
    color: #636363;
   
  }
  .statistics_title {
    font-size: 22px;
    line-height: 52px;

  }
}
@media screen and (max-width: 320px ) {

  .button {
    padding: 18px 80px 18px 25px;
  }
}