@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Rubik:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
ul li, ol li {
  list-style-type: none;
}
body {
  color: #fff;
  overflow-x: hidden;
  background-color: #262626;
  background-position: top 58px center;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at top center,rgba(0,0,0,.66),#262626), linear-gradient(180deg,#fff,#262626);
  background-size: 120% 2000px, 100% 2000px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}
::-webkit-scrollbar {
  width: 15px;
  height: 10px;       
}
::-webkit-scrollbar-track {
  border: 1px solid rgb(88, 84, 84);
  border-radius: 8px;
  background-color: #1b1b1b;       
}
::-webkit-scrollbar-thumb {
  background-color: #797979;
  border: 3px solid #797979;
  border-radius: 8px;
}

/* header */

.header {
  background-color: #111;
  margin-bottom: 40px;
  border-bottom: 1px solid #676767;
}
.header-wrapper {
  display: flex;
  align-items: center;
  height: 56px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}
.logo {
  display: flex;
  align-items: center;

}
.logo-link {
  display: flex;
  align-items: center;
}
.icon-logo-star {
  display: block;
  width: 25px;
  fill: #fff;
  margin-right: 10px;
}
.icon-logo-text {
  display: block;
  width: 322px;
  margin-right: 20px;
}
.navigation {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  width: 100%;
}
.navigation_items {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  height: 100%;
}
.navigation_items a {
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0 15px;
}
.navigation_item {
  height: 100%;
  text-transform: uppercase;
}
.navigation_item a:hover {
  color: #ff7a18;
  background: rgb(255 255 255 / 10%);
}
.header_search {
  position: fixed;
  top: 12px;
  right: 3%;
}
.search-svg {
  width: 32px;
  height: 32px;
  fill: white;
  
}
.link-svg {
  fill: #afafaf;
}

/* main */

.main {
  display: flex;
  justify-content: space-between;
}
.main_content {
  max-width: 800px;
}
.box-link  a {
  text-transform: uppercase;
  color: #ffdfc7;
  font-size: 22px;
}
.box-link  a:hover {
  color: #ffdfc7a8;
}
.title {
  font-family: 'Rubik', sans-serif;
  font-size: 44px;
  font-weight: 700;
}
.main_content_title {
  margin: 0 0 25px 0;
}
.main_content_author {
  margin-bottom: 20px;
}
.author_img {
  vertical-align: middle;
  border-radius: 50%;
  width: 40px;
}
.author_name {
  vertical-align: inherit;
  color: #fff;
}
.author_name:hover {
  color: rgba(255, 255, 255, 0.397);
  border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}
.description {
  font-size: 23px;
}
.main_content_description {
  max-width: 700px;
  margin-bottom: 40px;
}
.item {
  background: rgb(0, 0, 0);
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 100px;
  align-self: center;
  column-gap: 20px;
}
.item_text--color {
  color: #fff;
}
.item_img {
 align-self: center;
}
.item_img img {
  width: 100px;
}

/* contents */

.contents {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 65px;
}
.list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 60px;
}
.list {
  background: #fef6ec;
  border-radius: 8px;
  padding: 36px;
  counter-reset: number 0;
  height: fit-content;
}
.contents_items {
  position: relative;
}
.contents_items  a {
  color: #0089c7;
  text-decoration: underline;
  text-decoration-color: #a2dffb;
}
.contents_item {
  margin-left: 40px;
  margin-bottom: 10px;
}
.contents_item::before {
  position: absolute;
  counter-increment: number;
  content: 'Part ' counter(number) ': ';
  color: #000;
  left: 5%;
}
.poster {
  background-color: #fffcf6;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  padding: 35px;
  border: 1px solid #cbcbcb;
  height: fit-content;
}
.poster_content {
  flex-basis: 45%;
}
.poster_title {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.poster_description {
  max-width: 181px;
  margin-bottom: 20px;
}
.poster_button  {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 14px 38px;
  background-color: #5e5e5e;
  box-shadow: inset 1px 1px 0 #777, 0 2px 3px rgb(0 0 0 / 40%);
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
}
.poster_images img {
  mix-blend-mode: darken;
  width: 200px;
}
.line {
  background: #ff7a18;
  border: none;
  border-radius: 4px;
  height: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.title-flexbox, .flex_title {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}
.flex_title {
  text-transform: none;
}
.flexbox-link {
  margin-left: 40px;
}
.flexbox-link--open{
  margin-left: 20px;
  margin-bottom: 40px;
}
.flexbox-open {
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 4px;
  padding: 15px;
}
.flex-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px,auto));
  column-gap: 20px;
}
.flex-container {
  flex-basis: 47%;
}
.title-flexbox::before {
  content: ' ';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #000;
  top: 23px;
  left: 1%;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.flexbox-open::before {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  left: 1%;
  top: 38px;
}
.flex-img {
  max-width: 350px;
}
.flex-parent {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: linear-gradient(rgba(156, 39, 176, 0.2), #fff);
  padding: 32px;
}
.flex-parent_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}
.flex-parent_desc {
  margin-bottom: 25px;
}
.flex-parent_code {
  position: relative;
  border-radius: 8px;
  background: #1b1b1b;
  color: #f5d67b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.75;
  max-width: 100%;
  overflow-x: scroll;
}
.flex-parent_code::before {
  font-family: 'Rubik', sans-Serif;
  font-weight: 700;
  font-size: 9px;
  content: 'css';
  position: absolute;
  top: 3px;
  right: 6px;
  color: #ff7a18;
}
.flex-parent_items {
  padding-left: 20px;
  color: #000;
  margin-bottom: 20px;
}
.code--color {
  color: #72e0d1;
}
.code--color-comment {
  color: #5e7671;
  font-style: italic;
}
.flex-parent_item  {
  list-style-type: disc;
}
.flex-parent_item::marker  {
  color: #ff7a18;
}
.flex-img--bottom {
  margin-bottom: 60px;
}
.flex-parent_desc a {
  text-decoration: underline;
  text-decoration-color: #a2dffb;
  color: #0089c7;
}
.flex--color-dot {
  color: #fc9463;
}
.flex--color-multy {
  color: #aa7ee1;
}
.text--bold {
  font-weight: 700;
}
.flex-parent_attention {
  display: flex;
  border-radius: 8px;
  background-color: #fff2df;
  color: #f5d67b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.75;

}
.flex-parent_attention .hey {
  display: flex;
  border-radius: 8px;
  background-color: #ff7a18;
  align-items: center;
  padding: 32px;
}
.flex-parent_attention .content {
  color: #000;
  padding: 20px;
}
.text--cursive {
  font-style: italic;
}
.text--color-number {
  color: #ff7a18;
}

.flex-parent--children {
  background: linear-gradient(rgba(255, 138, 0, 0.2), #fff);
}
.code--color-text {
  color: #83ba52;
}
.offer {
  padding: 20px;
  max-width: 70%;
  background: rgba(0,0,0,.2);
  border-radius: 8px;
  margin-bottom: 60px;
}
.text--gradient {
  position: relative;
  color: #fff;
}
.text--gradient:hover {
  opacity: 0.66;
}

.text--gradient::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
.comments {
  text-align: center;
  margin-bottom: 20px;
}
.comments-span{
  position: relative;
}
.comments-span::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
.toggle-comments {
  position: relative;
  background: #434343;
  border-radius: 8px;
  padding: 20px 20px 20px 40px;
  margin-bottom: 20px;
  z-index: -5;
}
.toggle-comments::before {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  top: 45%;
  left: 2%;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.form-wrapper{
  background-color: #111;
  border-radius: 8px;
  padding: 64px;
  margin-bottom: 300px;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}
.form_title {
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.form input, .form textarea {
  outline: none;
  border-radius: 4px;
  background-color: #eaeaea;
  border: 1px solid #d4d4d4;
  padding: 8px;
  margin-bottom: 10px;
}
.check {
  margin-right: 10px;
}
.form span {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.button-comment {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  color: #fff;
  background-color: #5e5e5e;
  border: 1px solid 262626;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.button-comment:hover {
  background-color: #5e5e5e7e;
}

/* FOOTER */

.footer {
  position: relative;
  background-color: #111111;
  padding-bottom: 60px;
}
.footer_logo-star {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: -1;
  top: -90px;
  left: 2%;
  fill: orangered;
}
.footer_title {
  font-size: 36px;
  line-height: 1.3;
  padding-top: 40px; 
}
.footer_title a {
  color: #0089c7;
}
.subscription {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  column-gap: 20px;
  align-items: end;
  margin-bottom: 40px;
}
.footer_subscription {
  position: relative;
  background-color: #434343;
  padding: 20px;
  margin-top: -40px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.footer_subscription::before {
  position: absolute;
  content: ' ';
  width: 20px;
  height: 40px;
  background-color: #909090;
  top: 0;
  left: -20px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: -1;
}

.subscription_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #ff7a18;
  margin-bottom: 0;
  
}
.subscription_subtitle {
  font-size: 16px;
  margin-bottom: 20px;

}
.form_subscription input {
  width: 70%;
  background-color: #eaeaea;
  padding: 12px;
  border-radius: 8px;
  margin-right: 20px;
  outline: none;
  border: 1px solid #f7f5f5;
}
.form_subscription button {
  background-color: #5e5e5e;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #f7f5f54b;
  border-radius: 8px;
  text-transform: uppercase;
  outline: none;
}
.footer_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.5fr 0.5fr;
  column-gap: 10px;
}
.footer_menu-item ul {
  padding-left: 0;
}
.footer_menu-item ul li a {
  color: #a9a39f;
}
.footer_menu-item h5 {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #ff7a18; 
}


