@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Source+Sans+Pro:wght@400;700&display=swap');

/* font-family: 'Roboto', sans-serif;  400 700 900
font-family: 'Source Sans Pro', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
ul li, ol li {
  list-style-type: none;
}
img {
  width: 100%;
}
:root {
  --dark-blue: #222B3A;
  --main-blue: #296DCE;
  --orange: #F78000;
  --blue-title: #1092CB;
  --grey: #979FAD;
  --dark-grey: #696969;
  --footer-color: #0099DD;
  --broun-black: #323232;
  --light: #FAFAFA;
  --diagram: #F3F3F3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
  counter-reset: section;    
}

/* header */


.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #fff;
  max-height: 72px;
  padding: 18px 0;
  font-weight: 700;
}
.header-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_img {
  max-width: 184px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items:center;
  text-transform: capitalize;
}
.navigation a {
  color: var(--dark-blue);
}
.home {
  margin-right: 35px;
}
.materials {
  margin-right: 35px;
}
.calendar {
  margin-right: 65px;
}
.login {
  position: relative;
}
.link:hover {
  color: #090b0e;
  border-bottom: 2px solid var(--orange);
  
}
.login::before {
  position: absolute;
  content: ' ';
  background-image: url(../images/admin.png);
  background-size: cover;
  left: -21px;
  top: 2px;
  width: 12px;
  height: 14px;
}

/* main */


.main {
  background-color: var(--main-blue);
  position: relative;
}

.hero {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.main::before {
  position: absolute;
  content: '';
  background-color: #3777d1;
  width: 1191px;
  height: 425px;
  bottom: 0;
  left: -450px;
  clip-path: polygon(84% 37%, 0 124%, 99% 170%);

}
.main::after {
  position: absolute;
  content: '';
  background-color: #3777d1;
  width: 1200px;
  height: 344px;
  clip-path: polygon(100% 0, 0 0%, 100% 70%);
  top: 0px;
  right: 0;
}
.hero_title {
  padding-top: 70px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 53px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
.hero_subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: var(--orange);
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.hero_button {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 12px 40px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
  margin-bottom: 70px;
}
.hero_button:hover {
  background-color: #2064c4;
  color: #000000;
}
.hero_loading {
  max-width: 468px;
  height: 15px;
  padding: 3px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 5px;
}
.loading {
  background-color: var(--main-blue);
  width: 60%;
  height: 100%;
  border-radius: 2px;

}
.hero_statistic {
  display: flex;
  justify-content: flex-start;
}
.hero_statistic-all {
  margin-right: 30%;
}
.hero_statistic-all, .hero_statistic-done {
  display: flex;
  align-items: center;
}
.hero_statistic-all .number, .hero_statistic-done .number {
  font-size: 38px;
  margin-right: 5px;
}
.hero_statistic-all .text, .hero_statistic-done .text {
  font-size: 14px;
}

.hero_img {
  margin-right: 65px;
  margin-bottom: -4px;
}

.menu {
  padding: 14px 0;
  font-weight: 700;
}

.menu_link {
  position: relative; 
  margin-right: 50px;
  color: var(--grey);

}

.menu :nth-child(n+2)::before {
  content: ' ';
  position: absolute;
  width: 22px;
  height: 1px;
  background-color: var(--grey);
  top: 10px;
  left: -36px;
}
.menu_link:last-child {
  margin-right: 0;
  color: var(--broun-black);

}
.caption {
  background-color: var(--light);
  padding: 24px 0;
  margin-bottom: 26px;
}
.caption_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.caption_name {
  position: relative;
  margin-left: 34px;
  color: var(--broun-black);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.caption_name::before {
  content: ' ';
  position: absolute;
  width: 22px;
  height: 2px;
  top: 10px;
  left: -34px;
  background-color: var(--dark-blue);
}

.caption_btn {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 3px;
  padding: 12px 50px 12px 15px; 
}
.caption_btn::after {
  content: ' ';
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: var(--orange);
  top: 17px;
  right: 15px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

/* content */

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--diagram);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 19px;
  
}
.content {
  padding: 25px 42px 20px 147px;
  color: var(--dark-grey);
  letter-spacing: 0.01rem;
}
section::before {
  counter-increment: section;   
  position: absolute;
  content: ' 0' counter(section);
  color: #E1E1E1;
  top: 45px;
  left: 43px;
  font-size: 65px;
  font-weight: 700;
}

.content_title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-title);
  margin-bottom: 8px;
}
.content_subtitle {
  position: relative;
  color: var(--grey);
  margin-left: 23px;
  margin-bottom: 15px;
}
.content_subtitle::before {
  position: absolute;
  content: ' ';
  width: 15px;
  height: 11px;
  top: 5px;
  left: -23px;
  background-image: url(../images/Vector.svg);
  background-size: cover;
}
.content_description {
  max-width: 810px;
  line-height: 27px;
  margin-bottom: 10px;
}
.content_access {
  font-weight: 700;
  line-height: 27px;
}
.content_access  span {
  color: var(--orange);
  text-decoration: underline;
}
.diagram {
  padding: 25px 42px 0 0;
  font-weight: 700;
  color: var(--broun-black);
}

.diagram_grafic {
  margin-top: 10px;
  height: 121px;
  width: 15px;
  background-color: var(--diagram);
  border-radius: 3px;
  padding: 3px;
  transform: rotate(180deg);
}
.diagram_loading {
  background-color: var(--footer-color);
  height: 60%;
}

section:last-child {
  margin-bottom: 76px;
}

/* footer */

footer {
  padding: 40px 0 0;
  background-color: var(--footer-color);
}
footer hr {
  width: 30px;
  height: 3px;
  border: none;
  background-color: #fff;
  margin-bottom: 25px;
}
.footer_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 100px;
  padding-bottom: 45px ;
}
.bg-color-line {
  height: 47px;
  background-color: var(--dark-blue);
}

footer .title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 10px;
}
footer .footer_item {
  padding-left: 0;
}
footer .footer_item li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1010px) {
  .hero_title {
    font-size: 24px;
  }
  .hero_subtitle {
    font-size: 22px;
  }
  .footer_inner {
    column-gap: 30px;
  }
  .hero_img {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer_inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
    
  }
  .footer_item {
    max-width: 180px;
  }

}

@media screen and (max-width: 768px) {
  .main::before {
    width: 891px;
    height: 487px;
  }
  .main::after {
    width: 811px;
    height: 325px;
}
  .hero_img {
    margin-top: 44px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .hero_button {
    margin-bottom: 40px;
  }
  .hero_text {
    max-width: 330px;
  }
  .hero_img img {
    width: 85%;
  }
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .burger_menu {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .hero {
    padding-bottom: 70px;
  }
  .hero_title {
    padding-top: 30px;
  }
  .hero_text {
    max-width: 550px;
  }
  .hero_img {
    display: none;
  }
}
@media screen and (max-width: 470px) { 
  .main::after {
    width: 511px;
    height: 204px;
  }
  .main::before {
    width: 473px;
    height: 475px;
    left: -178px;
    clip-path: polygon(81% 36%, 0 77%, 138% 240%);
  }
  .hero_loading {
    max-width: 339px;
  }
  .menu {
    display: none;
  }
  .caption_name {
    margin-bottom: 20px;
  }
  .caption_btn {
    width: 100%;
  }
  .caption_inner {
    display: block;
  }
  .diagram {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    order: 1;
    margin-right: 21px;
    margin-left: 70px;
  }
  .diagram_grafic {
    margin-top: 0;
    margin-right: 20px;
    order: 1;
    transform: rotate(0deg);
  }
  .diagram_number {
    order: 2;
  } 
  .diagram_loading {
    width: 60%;
    height: 9px;
  }
  section {
    padding-top: 34px;
    flex-direction: column;
  }
  section::before {
    font-size: 40px;
    top: 34px;
    left: 15px;
  }
  .diagram_grafic {
    width: 157px;
    height: 15px;
  }
  .content {
    padding: 26px 0 15px 15px;
    order: 2;
  }
  .content_title {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.2rem;
  }
  
  .footer_inner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
  }
  footer .school {
    display: none;
  }
  footer .materials {
    display: none;
  }
  footer .information {
    display: none;
  }
  .contact {
    padding: 48px 0 46px 33px;
  }
  footer .footer_item li{
    position: relative;
    padding-left: 32px;
    margin-bottom: 18px;
  }
  footer .footer_item li::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url(../images/tell.svg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}